// 공통스타일 시작 //
.title-box h3 {
    display: flex;
    color: #fff;
    font-size: 20px;
    background: #181D61;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    color: #046EB8;
    text-align: center;
}

// 공통스타일 끝 //

.section2 {
    background: #F6F6F6 url(/images/bg-kts-logo.png) no-repeat 95% 3%;
    padding: 120px 0 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .title-wrap {
        display: flex;
        justify-content: center;

        h2 {
            font-weight: 500;
            font-size: 32px;
            max-width: 1600px;
            width: 100%;

            span {
                font-weight: 700;
            }

            .co-name {
                color: #181D61;
            }
        }
    }

    .sec2-visual {
        background: #F6F6F6 url(/images/me-in-i-mi-ji4.png) no-repeat 102% 0%;
        display: flex;
        justify-content: center;
        align-items: center;

        .overview-wrap {
            max-width: 1600px;
            width: 100%;
            padding-bottom: 50px;
        }

        .overview {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 730px;
        }

        .ov-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .ov-item .item-list {
            background: #ffffff;
            color: #444;
            font-size: 14px;
            padding: 10px 13px;
            line-height: 2;
            height: 240px;
            word-break: normal;
        }

        .ov-item .item-list p:hover {
            color: #046EB8;
        }

        .item-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;

            .biz-item,
            .cus-item {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}