.visual {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .img-wrap{height: 100%;}
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1s ease;
}

.swiper-slide-active img {
    transform: scale(1.1);
    opacity: 1;
}

.main-slogan {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .slogan-inner {
        font-size: 45px;
        color: white;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 1500px;
        width: 100%;
        padding-top: 130px;

        p:nth-child(1) {
            font-size: 30px;
            font-weight: 700;
        }

        span {
            color: #181d61;
            font-size: 60px;
            text-shadow: 1px -2px 10px #ffffff;
        }
    }
}

@media only all and (max-width: 768px) {
.visual {
    height: 500px;
}

.main-slogan .slogan-inner p:nth-child(1) {
    font-size: 16px;
}
.main-slogan .slogan-inner span {
    font-size: 32px;
}
.main-slogan .slogan-inner{font-size: 22px; gap: 5px; padding: 130px 20px 0;}
.swiper-slide img {object-position: 70% 50%;}
}