.visual {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1s ease;
}

.swiper-slide-active img {
    transform: scale(1.1);
    opacity: 1;
}

.main-slogan {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .slogan-inner {
        font-size: 45px;
        color: white;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 1500px;
        width: 100%;
        padding-top: 130px;

        p:nth-child(1) {
            font-size: 30px;
            font-weight: 700;
        }

        span {
            color: #181d61;
            font-size: 60px;
            text-shadow: 1px -2px 10px #ffffff;
        }
    }
}